body{
    height: 2000px;
}

/* ------------------------------------------------ */

.news-block{
    background-color: #5C57A4;

    position: fixed;
    padding: 10px;
}

.news{
    color: aliceblue;
}

.dashboard-block{
    background-color: #5C57A4;

    width: 80px;
    position: sticky;
    padding: 10px;
    left: 100%;
    text-align: center;
}

.dashboard{
    color: aliceblue;
}

/* ------------------------------------------------ */

.together{
    background: aliceblue;
    font-size: 20px;
    border: 1px solid black;

    height: 70px;
    overflow: auto;
    text-align: end;

    margin: 10px 0px;
}

.gnome{
    width: 100px;
}

.title{
    background-color: green;
    
    display: inline;
    margin: 3px;
}

.lorem{
    background-color: blue;

    display: inline;
}

/* ------------------------------------------------ */

.square1{
    background: sandybrown;

    height: 80px;
    margin: 10px 0px;
}

.q1{
    background-color: blue;
    
    height: 20px;
    width: 20px;
}

.q2{
    background-color: green;
    
    height: 20px;
    width: 20px;
    
    position: relative;
    left: 50%;
    transform: translate(-50%);
}

.q3{
    background-color: red;
    height: 20px;
    width: 20px;

    position: relative;
    left: 100%;
    transform: translate(-100%);
}

.q4{
    background-color: brown;
    height: 20px;
    width: 20px;
}

/* ------------------------------------------------ */

.square2{
    background: sandybrown;
    
    height: 80px;
    margin: 10px 0px;
    position: relative;
}

.q5{
    background-color: blue;
    
    height: 20px;
    width: 20px;
    position: absolute;
}

.q6{
    background-color: green;
    
    height: 20px;
    width: 20px;
    
    position: absolute;
    left: 50%;
    transform: translate(-50%);
}

.q7{
    background-color: red;
    height: 20px;
    width: 20px;

    position: relative;
    left: 100%;
    transform: translate(-100%);
}

.q8{
    background-color: brown;
    height: 20px;
    width: 20px;
}

/* ------------------------------------------------ */

.cube1{
    border: 1px solid black;
    padding: 100px 74px;
    display: inline-block;
}

.cube2{
    width: 200px;
    height: 200px;
    border: 1px solid black;
    

    line-height: 200px;
    text-align: center;
}

.cube3{
    width: 200px;
    height: 200px;
    border: 1px solid black;

    position: relative;
}

#banana{
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
}

/* ------------------------------------------------ */

@media screen and (max-width: 1080px){

    body{
        background-color: bisque;
    }

}